.header {
  background-color: #039be5;
  box-shadow: 0px 3px 5px #ccc;

  &__list {
    margin: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list-item {
    padding: 20px;
    color: white;
    text-decoration: none;
    transition: background-color .3s;
    cursor: pointer;

    &:hover {
      transition: background-color .3s;
      background-color: #01579b;
    }

    &_active {
      background-color: #01579b;
    }
  }

  &__list-login {
  }
}