<script>
    import {mapState} from 'vuex'
    import Cookie from 'js-cookie'

    export default {
        name: 'c-header',
        computed: {
            ...mapState({
                isAuthorize: state => state.isAuthorize
            }),
            navigation() {
                if (this.isAuthorize) {
                    return [
                        {name: 'Редактирование статей', link: 'edit'}
                    ]
                } else {
                    return [
                        {name: 'Главная', link: '/'},
                    ]
                }
            }
        },
        methods: {
            signOut() {
                Cookie.remove('my_auth')
                this.$store.commit('SET_IS_AUTHORIZE', false)
                this.$router.replace('/')
            }
        },
    }
</script>

<template>
    <header class="header">
        <ul class="header__list">
            <router-link v-for="(item, index) in navigation"
                         :key="index"
                         :to="item.link"
                         activeClass="header__list-item_active"
                         exact
                         class="header__list-item">
                {{ item.name }}
            </router-link>

            <li v-if="isAuthorize"
                @click="signOut"
                class="header__list-item header__list-login">
                Выход
            </li>
            <router-link v-else
                         to="/auth"
                         class="header__list-item header__list-login">
                Вход
            </router-link>
        </ul>
    </header>
</template>

<style lang="scss" src="./header.scss">
</style>