.button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: $c-accent;
  height: 40px;
  min-width: 120px;
  color: white;
  border-radius: 2px;
  text-transform: uppercase;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.button:hover {
  background-color: darken($c-accent, 10%);
}

.button:active {
  background-color: darken($c-accent, 20%);
}

.button_fullwidth {
  width: 100%;
}

.button_disabled {
  box-shadow: none;
  cursor: not-allowed;
  background-color: lightgray;
}

.button_disabled:hover, :active {
  background-color: lightgray;
}

.button_red {
  background-color: $c-red;
}

.button_red:hover {
  background-color: #e57373;
}

.button_red:active {
  background-color: #e53935;
}