<script>
    export default {
        name: 'c-btn',
        props: {
            fullWidth: {
                type: Boolean,
                require: false,
                default: false
            },
            color: {
                type: String,
                require: false,
                default: 'teal'
            },
            disabled: {
                type: Boolean,
                require: false,
                default: false
            }
        }
    }
</script>

<template>
    <button class="button" :disabled="disabled"
            :class="{'button_fullwidth': fullWidth,
             'button_disabled': disabled,
             'button_red': color === 'red',
             'button_teal': color === 'teal'}"
            type="button">
        <slot></slot>
    </button>
</template>

<style lang="scss" src="./button.scss" scoped>
</style>