/* colors */
$c-main: #009688;
$c-second: #fff59d;
$c-gray: #bdbdbd;
$c-red: #ef5350;
$c-accent: #039be5;
/* font size */
$s-small: 12px;
$s-regular: 14px;
$s-big: 20px;
/* fonts */
$f-regular: "Montserrat Regular";
$f-medium: "Montserrat Medium";
$f-bold: "Montserrat Bold";
