<script>
    import {mapState, mapGetters} from 'vuex'
    import Button from "../ui/Button/Button.vue";

    export default {
        name: 'c-edit',
        components: {
            'c-button': Button
        },
        data() {
            return {
                title: 'Home page'
            }
        },
        beforeRouteEnter(to, from, next) {
            next(vm => {
                if (!vm.isAuthorize) {
                    vm.$router.replace('/auth')
                }
            })
        },
        computed: {
            ...mapState({
                articles: state => state.articles,
                isAuthorize: state => state.isAuthorize
            }),
            ...mapGetters(['sortedArticlesByDate'])
        },
        methods: {
            addArticle() {
                return this.$store.dispatch('openModal',
                    {
                        name: 'c-modal-form',
                        data: {
                            title: 'Добавить статью'
                        }
                    })
            },
            edit(article) {
                this.$store.dispatch('openModal',
                    {
                        name: 'c-modal-form',
                        data: {
                            article
                        }
                    })
            },
            remove(id) {
                return this.$store.dispatch('openModal',
                    {
                        name: 'c-modal-delete-confirm',
                        data: {
                            title: 'Редактирование',
                            article: {
                                id
                            }
                        }
                    })
            }
        }
    }
</script>
<template>
    <div class="main-page">
        <div class="main-page__add">
            <c-button @click.native="addArticle">
                Добавить
            </c-button>
        </div>
        <h2>
            Статьи
        </h2>
        <ul class="articles">
            <li v-for="(article, index) in sortedArticlesByDate"
                :key="index"
                class="article">
                <div class="article-date"
                     title="Время создания">
                    <span>{{ new Date(article.createdAt).toLocaleString() }}</span>
                </div>
                <div class="article-title">
                    {{ article.title }}
                </div>
                <div class="article-body">
                    {{ article.body }}
                </div>
                <div class="article-actions">
                    <button @click="edit(article)"
                            class="article-button"
                            title="Изменить">
                        <svg width="25" height="25" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path d="M491 1536l91-91-235-235-91 91v107h128v128h107zm523-928q0-22-22-22-10 0-17 7l-542 542q-7 7-7 17 0 22 22 22 10 0 17-7l542-542q7-7 7-17zm-54-192l416 416-832 832h-416v-416zm683 96q0 53-37 90l-166 166-416-416 166-165q36-38 90-38 53 0 91 38l235 234q37 39 37 91z"/>
                        </svg>
                    </button>
                    <button @click="remove(article._id)"
                            class="article-button"
                            title="Удалить">
                        <svg width="25" height="25" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1490 1322q0 40-28 68l-136 136q-28 28-68 28t-68-28l-294-294-294 294q-28 28-68 28t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 294 294-294q28-28 68-28t68 28l136 136q28 28 28 68t-28 68l-294 294 294 294q28 28 28 68z"/>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</template>
