<script>
    import {mapState, mapGetters} from 'vuex'

    export default {
        data() {
            return {
                title: 'Home page'
            }
        },
        beforeRouteEnter(to, from, next) {
            next(vm => {
                if (vm.isAuthorize) {
                    vm.$router.replace('/edit')
                }
            })
        },
        computed: {
            ...mapState({
                articles: state => state.articles,
                isAuthorize: state => state.isAuthorize
            }),
            ...mapGetters(['sortedArticlesByDate']),
        }
    }
</script>
<template>
    <div class="main-page">
        <h2>
            Статьи
        </h2>
        <ul class="articles">
            <li v-for="(article, index) in sortedArticlesByDate"
                :key="index"
                class="article">
                <div class="article-date"
                     title="Время создания">
                    <span>{{ new Date(article.createdAt).toLocaleString() }}</span>
                </div>
                <div class="article-title">
                    {{ article.title }}
                </div>
                <div class="article-body">
                    {{ article.body }}
                </div>
            </li>
        </ul>
    </div>
</template>
