.articles {
  padding-left: 0;
}

.article {
  padding: 30px 0;
  border-bottom: 1px solid #282828;

  &-date {
    margin-bottom: 10px;
    color: $c-gray;
    font-size: 12px;
  }

  &-title {
    font-size: $s-big;
    font-family: $f-bold;
    margin-bottom: 20px;
  }

  &-body {
    margin-bottom: 10px;
  }

  &-button {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.main-page__add {
  margin-bottom: 30px;
}