.auth-form {
  @include miw(500) {
    padding: 50px;
    width: 320px;
  }
  padding: 20px;
  margin: 0 auto;
  background-color: #f5f5f5;
  box-shadow: 0px 1px 8px 1px #acacac;
  width: 240px;

  &__button {
    text-align: center;
  }
}