<script>
    import Input from "../../ui/Input/Input.vue";
    import Button from "../../ui/Button/Button.vue";
    import {mapState} from 'vuex'

    export default {
        name: 'auth',
        components: {
            'c-input': Input,
            'c-button': Button
        },
        data() {
            return {
                email: 'nikzhrv@yandex.ru',
                password: '1234'
            }
        },
        computed: {
            ...mapState({
                isAuthorize: state => state.isAuthorize
            })
        },
        beforeRouteEnter(to, from, next) {
            next(vm => {
                if (vm.isAuthorize) {
                    vm.$router.replace('/edit')
                }
            })
        },
        methods: {
            auth() {
                const {email, password} = this
                if (email === 'nikzhrv@yandex.ru' && password === '1234') {
                    document.cookie = 'my_auth=true'
                    this.$store.commit('SET_IS_AUTHORIZE', true)
                    this.$router.push('/edit')
                }
            }
        }
    }
</script>
<template>
    <div class="auth">
        <form @submit.prevent="auth"
              @keypress.enter="auth"
              class="auth-form">
            <c-input v-model="email"
                     label="E-mail"
                     placeholder="Введите E-mail адрес">
            </c-input>
            <c-input v-model="password"
                     label="Пароль"
                     type="password"
                     placeholder="Введите пароль">
            </c-input>
            <div class="auth-form__button">
                <c-button @click.native="auth">
                    Войти
                </c-button>
            </div>
        </form>
    </div>
</template>

<style src="./auth.scss" lang="scss" scoped>
</style>