.c-input-wrapper {
  margin-bottom: 20px;
}

.c-input {
  display: block;
  width: 100%;
  height: 18px;
  padding: 10px 0;
  border-bottom: 1px solid black;
  background-color: transparent;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  transition: .5s border-bottom-color ease;
}

.c-input:focus {
  transition: .5s border-bottom-color ease;
  border-bottom: 1px solid $c-accent;
}

.c-input__label {
  font-size: 14px;
}

.c-input_disabled {
  cursor: not-allowed;
}