<script>
    import {mapState} from 'vuex'
    import Input from "../ui/Input/Input.vue";
    import Button from "../ui/Button/Button.vue";

    export default {
        name: 'c-modal-edit',
        components: {
            'c-input': Input,
            'c-button': Button
        },
        data() {
            return {
                title: '',
                body: ''
            }
        },
        computed: {
            ...mapState({
                modalData: state => state.modal.data
            }),
            articleTitle() {
                if (this.modalData.article) {
                    return this.modalData.article.title
                } else {
                    return 'Новая статья'
                }
            }
        },
        methods: {
            close() {
                return this.$store.dispatch('closeModal', false)
            },
            sendArticle() {
                const {title, body} = this
                let _id = ''

                if (this.modalData.article) {
                    _id = this.modalData.article._id
                }
                this.$store.dispatch('postArticle', {_id, title, body})
                    .finally(() => {
                        this.$store.dispatch('closeModal')
                    })
            }
        },
        mounted() {
            if (this.modalData.article) {
                this.title = this.modalData.article.title
                this.body = this.modalData.article.body
            }
        }
    }
</script>

<template>
    <div>
        <h2 class="modal-header">
            {{ articleTitle }}
        </h2>
        <div class="modal-body">
            <c-input v-model="title"
                     label="Заголовок"
                     placeholder="Введите новый заголовок"/>
            <textarea v-model="body"
                      name="article-body"
                      class="modal-textarea"
                      placeholder="Введите текст статьи"
                      cols="30"
                      rows="10"/>
        </div>
        <div class="modal-actions">
            <c-button @click.native="sendArticle">
                Сохранить
            </c-button>
        </div>
    </div>
</template>

<style scoped>
    .modal-textarea {
        width: 100%;
    }
</style>