<script>
    import Header from "./ui/Header/Header.vue";
    import Modal from "./modals/Modal.vue";
    import {mapState} from 'vuex'
    import Cookie from 'js-cookie'

    export default {
        name: "app",
        components: {
            'c-header': Header,
            'c-modal': Modal
        },
        data() {
            return {
                message: "Hello"
            };
        },
        computed: {
            ...mapState({
                isAuthorize: state => state.isAuthorize,
                modalName: state => state.modal.name
            })
        },
        mounted() {
            this.$store.dispatch('fetchArticles')

            const authValue = Cookie.get('my_auth')
            if (authValue) {
                this.$store.commit('SET_IS_AUTHORIZE', true)
            }
        }
    };
</script>

<template>
    <div class="app">
        <c-modal v-if="modalName"></c-modal>
        <c-header></c-header>
        <main class="container">
            <router-view></router-view>
        </main>
    </div>
</template>

